[Desktop Entry]
Name=Blue Sora
Comment=Fly into the deep blue sky


X-KDE-PluginInfo-Author=K.Khākbiz
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Blue_Sora
X-KDE-PluginInfo-Version=3.0.2 Clouds
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE 4.x
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true