[Desktop Entry]
Name=United
Comment=different ideas together in a single theme for plasma
Comment[es]=diferentes ideas unidos en un solo tema para plasma

X-KDE-PluginInfo-Author=United
X-KDE-PluginInfo-Name=United
X-KDE-PluginInfo-Version=2.2.0
X-KDE-PluginInfo-Website=http://koresource.blogspot.com/
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Category=Plasma Theme