[Desktop Entry]
Comment=Not Haiku
Name=Besot Haiku
X-KDE-PluginInfo-Author=Mark Whittaker
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=besothaiku
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
