[Desktop Entry]
Name=DeepinC-Plasma
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Email=adolfo@librepixels.com
X-KDE-PluginInfo-Name=DeepinC-Plasma
X-KDE-PluginInfo-Version=2.2.6
X-KDE-PluginInfo-Website=https://store.kde.org/p/1990227
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7

